---js
{
  layout: "_layouts/base.njk",
  title: "Docs",
  changeFrequency: "weekly",
  priority: 1,
  translationKey: "documentation",
  locale: "en",
  stylesheets: [],
  javascripts: []
}
---

{#
  Documentation

  File: /src/docs/index.njk
  Project: Baythium Packer Client
  Organization: Baythium Ecosystem: https://baythium.com

  @see: https://www.cloudflare.com/apps/developer/docs/techniques/scripts
#}

<!-- Documentation Page -->
<section class="section documentation">

  <div class="card">
    <div class="card__body">

      <!-- Headline -->
      <div class="headline headline--xl headline--labeled">
        <h1 class="headline__title">Docs</h1>
        <p class="headline__description">Learn how to start using a tool, discover its power and experience the true CLI.</p>
      </div>

      <ul class="list">
        {% for doc in collections.docs %}
          <li class="list__item">
            <a class="list__link" href="{{ doc.url }}">
              <h6 class="list__title">{{ doc.data.title }}</h6>
              <p class="list__description"></p>
            </a>
          </li>
        {% endfor %}
      </ul>

    </div>
  </div>

</section>
