---js
{
  layout: "_layouts/base.njk",
  title: "Docs",
  changeFrequency: "weekly",
  priority: 1,
  translationKey: "documentation",
  locale: "en",
  stylesheets: [],
  javascripts: []
}
---

{#
  Documentation

  File: /src/docs/index.njk
  Project: Baythium Packer Client
  Organization: Baythium Ecosystem: https://baythium.com

  @see: https://www.cloudflare.com/apps/developer/docs/techniques/scripts
#}

<!-- Documentation Page -->
<section class="section documentation">

  <div class="card">
    <div class="card__body">

      <!-- Headline -->
      <div class="headline headline--xl">
        <h1 class="headline__title">Getting Started</h1>
        <p class="headline__description"></p>
      </div>
      
      {% highlight "javascript" %}
function factorial(n) {
  return n ? n * factorial(n - 1) : 1;
}

alert( factorial(5) ); // 120
      {% endhighlight %}

    </div>
  </div>

</section>
