.app-footer {
    color: $white;
    background-color: $primary;
    background: linear-gradient(120deg, rgba(58,31,93,1) 0%, rgba(40,12,79,1) 100%);
    padding: $base-indent;
    position: relative;
    overflow: hidden;
    z-index: 0;
  
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 512px;
      height: 512px;
      background: url("../images/network-lines.svg") 0 0 no-repeat; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      object-fit: contain;
      z-index: -1;
      filter: invert(1);
      opacity: .15;
    }
  
    &__navigation {
      color: $white;
      margin-bottom: $base-indent;
  
      ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        justify-content: center;
        flex-wrap: wrap;
  
        li:not(:last-of-type) {
          margin-right: $base-indent;
        }
  
        > li {
          a {
            display: block;
            color: $white;
            text-decoration: none;
            padding: $sm-indent;
            border-bottom: 1px solid transparent;
  
            &:hover {
              border-bottom: 1px solid $secondary;
            }
          }
        }
      }
    }
  
    &__copyright {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: $base-indent;
      font-size: $sm-font-size;
  
      p:first-of-type {
        margin-bottom: $base-indent;
      }
  
      span {
        display: block;
        text-align: center;
      }
    }
  
    &__synthesis {
      display: flex;
      justify-content: flex-end;
  
      ul {
        display: inline-flex;
        font-size: $sm-font-size;
        margin: 0;
        padding: 0;
        list-style: none;
  
        li:not(:last-of-type) {
          margin-right: $base-indent;
        }
  
        span {
          padding: 0 $xs-indent;
          color: $black;
          border-radius: 4px;
          color: $white;
  
          &:hover {
            background-color: $alternative;
            color: $black;
          }
        }
      }
    }
  
    &__brand {
      display: flex;
      justify-content: center;
      margin-bottom: $lg-indent;
  
      img {
        width: 128px;
        height: auto;
        object-fit: contain;
      }
    }
  }