/**
 * App Footer
 * 
 * Project: Baythium Packer
 * File: /src/scss/components/app-footer.scss
 * Initial author: Damien Bayes <damien.bayes.db@gmail.com>
 */

.app-footer {
    color: $white;
    background-color: $primary;
    background: linear-gradient(120deg, rgba(58,31,93,1) 0%, rgba(40,12,79,1) 100%);
    padding: $xl-indent $base-indent;
    position: relative;
    overflow: hidden;
    z-index: 0;
  
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 512px;
      height: 512px;
      background: url("../images/network-lines.svg") 0 0 no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      object-fit: contain;
      z-index: -1;
      filter: invert(1);
      opacity: .15;
    }

    &__navigation-item {
      margin-bottom: $base-indent;

      &:not(:last-of-type) { margin-right: $base-indent; }
    }

    &__navigation-list {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      justify-content: center;
      flex-wrap: wrap;
    }

    &__navigation-link {
      display: block;
      color: $white;
      text-decoration: none;
      padding: $indent-2 $sm-indent !important;
      border-bottom: 1px solid transparent;
      line-height: $base-line-height;

      &--active {
        background-color: $alternative;
        color: $black !important;
        border-radius: $sm-border-radius;

        &:hover {
          background-color: lighten($alternative, 5%);
        }
      }

      &:hover {
        border-bottom: 1px solid $secondary;
      }
    }
  
    &__navigation { color: $white; }
  
    &__copyright {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: $base-indent;
      font-size: $sm-font-size;
  
      p:first-of-type {
        margin-bottom: $base-indent;
      }
  
      span {
        display: block;
        text-align: center;
      }
    }
  
    &__synthesis {
      display: block;
      text-align: center;
      
      ul {
        display: inline-flex;
        font-size: $sm-font-size;
        margin: 0;
        padding: 0;
        list-style: none;
  
        li:not(:last-of-type) {
          margin-right: $base-indent;
        }
  
        span {
          padding: 0 $xs-indent;
          color: $black;
          border-radius: 4px;
          color: $white;
  
          &:hover {
            background-color: $alternative;
            color: $black;
          }
        }
      }
    }
  
    &__brand {
      display: flex;
      justify-content: center;
      margin-bottom: $lg-indent;
  
      img {
        width: 128px;
        height: auto;
        object-fit: contain;
        transition: -webkit-filter 200ms;
        transition: filter 200ms;

        &:hover {
          -webkit-filter: brightness(110%) contrast(110%);
          filter: brightness(110%) contrast(110%);
        }
      }
    }
  }