/**
 * App Footer
 *
 * File: /src/scss/components/app-footer.scss
 * Project: Baythium Packer Client
 * Organization: Baythium Ecosystem: https://baythium.com
 */

.app-footer {
    color: $color--white;
    background-color: $color--primary;
    background: linear-gradient(120deg, rgba(58,31,93,1) 0%, rgba(40,12,79,1) 100%);
    padding: $indent--xl $indent--base;
    position: relative;
    overflow: hidden;
    z-index: 0;
  
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 512px;
      height: 512px;
      background: url("../images/network-lines.svg") 0 0 no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      object-fit: contain;
      z-index: -1;
      filter: invert(1);
      opacity: .15;
    }

    &__navigation-item {
      margin-bottom: $indent--base;

      &:not(:last-of-type) { margin-right: $indent--base; }
    }

    &__navigation-list {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      justify-content: center;
      flex-wrap: wrap;
    }

    &__navigation-link {
      display: block;
      color: $color--white;
      text-decoration: none;
      padding: $indent--bin-2 $indent--sm !important;
      border-bottom: 1px solid transparent;
      line-height: $text__line-height--base;

      &--active {
        background-color: $color--alternative;
        color: $color--black !important;
        border-radius: $border__radius--sm;

        &:hover {
          background-color: lighten($color--alternative, 5%);
        }
      }

      &:hover {
        border-bottom: 1px solid $color--secondary;
      }
    }
  
    &__navigation { color: $color--white; }
  
    &__copyright {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: $indent--base;
      font-size: $font__size--sm;

      p:first-of-type {
        margin-bottom: $indent--base;
      }
  
      span {
        display: block;
        text-align: center;
      }
    }
  
    &__synthesis {
      display: block;
      text-align: center;
      
      ul {
        display: inline-flex;
        font-size: $font__size--sm;
        margin: 0;
        padding: 0;
        list-style: none;
  
        li:not(:last-of-type) {
          margin-right: $indent--base;
        }
  
        span {
          padding: 0 $indent--xs;
          color: $color--black;
          border-radius: 4px;
          color: $color--white;
  
          &:hover {
            background-color: $color--alternative;
            color: $color--black;
          }
        }
      }
    }
  
    &__brand {
      display: flex;
      justify-content: center;
      margin-bottom: $indent--lg;
  
      img {
        width: 128px;
        height: auto;
        object-fit: contain;
        transition: -webkit-filter 200ms;
        transition: filter 200ms;

        &:hover {
          -webkit-filter: brightness(110%) contrast(110%);
          filter: brightness(110%) contrast(110%);
        }
      }
    }
  }