/**
 * FAQ
 *
 * File: /src/scss/components/faq.scss
 * Project: Baythium Packer Client
 * Organization: Baythium Ecosystem: https://baythium.com
 */

.faq-pillar {
  margin-bottom: $indent--base;
  padding: $indent--base 0;
  border-bottom: 1px solid $color--gray-200;

  & > summary {
    list-style: none;

    &::-webkit-details-marker { display: none; }
  }

  &[open] {
    p { 
      padding: 0 0 0 $indent--xl;
      margin: 0;
    }

    summary {
      margin-bottom: $indent--base;

      &::before {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        background-color: $color--secondary;
      }
    }
  }

  &__question {
    margin: 0;
    outline: 0;
    position: relative;
    cursor: pointer;
    padding: 0 0 0 $indent--xl;
    font-weight: $font__weight--bold;
    line-height: $text__line-height--base;
    font-size: $font__size--base;

    &::before {
      content: "";
      position: absolute;
      top: 8.4px;
      left: 8.4px;
      width: 6px;
      height: 6px;
      background-color: $color--gray-600;
      -webkit-transition: -webkit-transform .3s ease-in-out;
      transition: -webkit-transform .3s ease-in-out;
      transition: transform .3s ease-in-out;
      transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
      font-size: $font__size--xl;
      -ms-user-select: none;
      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -o-user-select: none;
    }
  }
}