/**
 * FAQ
 * 
 * Project: Baythium Packer
 * File: /src/scss/components/faq.scss
 * Initial author: Damien Bayes <damien.bayes.db@gmail.com>
 */

.faq-pillar {
  margin-bottom: $base-indent;
  padding: $base-indent 0;
  border-bottom: 1px solid $gray-200;

  & > summary {
    list-style: none;

    &::-webkit-details-marker { display: none; }
  }

  &[open] {
    p { 
      padding: 0 0 0 $xl-indent;
      margin: 0;
    }

    summary {
      margin-bottom: $base-indent;

      &::before {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        background-color: $secondary;
      }
    }
  }

  &__question {
    margin: 0;
    outline: 0;
    position: relative;
    cursor: pointer;
    padding: 0 0 0 $xl-indent;
    font-weight: $font-weight-bold;
    line-height: $base-line-height;
    font-size: $base-font-size;

    &::before {
      content: "";
      position: absolute;
      top: 8.4px;
      left: 8.4px;
      width: 6px;
      height: 6px;
      background-color: $gray-600;
      -webkit-transition: -webkit-transform .3s ease-in-out;
      transition: -webkit-transform .3s ease-in-out;
      transition: transform .3s ease-in-out;
      transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
      font-size: $xl-font-size;
      -ms-user-select: none;
      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -o-user-select: none;
    }
  }
}