/**
 * Language Switcher
 *
 * File: /src/scss/components/language-switcher.scss
 * Project: Baythium Packer Client
 * Organization: Baythium Ecosystem: https://baythium.com
 */

.language-switcher {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: $indent--base;

  span {
    margin-right: $indent--sm;
  }

  &__link {
    color: $color--white;
    text-decoration: none;
    background-color: $color--secondary;
    border-radius: $border__radius--sm;
    color: $color--white;
    padding: $indent--sm;
    line-height: $text__line-height--bin-16;

    &:hover {
      background-color: lighten($color--secondary, 5%);
    }
  }
}