/**
 * Language Switcher
 * 
 * Project: Baythium Packer
 * File: /src/scss/components/language-switcher.scss
 * Initial author: Damien Bayes <damien.bayes.db@gmail.com>
 */

.language-switcher {
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    margin-right: $sm-indent;
  }

  &__link {
    color: $white;
    text-decoration: none;
    background-color: $secondary;
    border-radius: $sm-border-radius;
    color: $white;
    padding: $sm-indent;
    line-height: $line-height-16;

    &:hover {
      background-color: lighten($secondary, 5%);
    }
  }
}