/**
 * Navigation
 * 
 * Project: Baythium Packer
 * File: /src/scss/components/navigation.scss
 * Initial author: Damien Bayes <damien.bayes.db@gmail.com>
 */

.navigation {
  display: flex;
  color: $gray-800;
  padding: $base-indent 0;
  
  &__list {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    padding: 0 $base-indent;
  }

  &__button:first-of-type {
    border-right: 1px solid $gray-300;
    margin-right: $xs-indent;
  }

  &__button:last-of-type {
    border-left: 1px solid $gray-300;
    margin-left: $xs-indent;
  }

  &__wrapper {
    flex: 1;
    overflow: hidden;
  }

  &__button {
    background: none;
    border: 0;
    padding: 0 $sm-indent;
    outline: 0;
    cursor: pointer;
    text-align: center;
    display: flex;
    vertical-align: middle;
    color: inherit;
    user-select: none;
    transition: transform .3s ease-in;
    transform: scale(1) translate3d(0, 0, 0);
    overflow: hidden;
    position: relative;
    font-size: $xl-font-size;
  }

  &__link {
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
  }

  &__button,
  &__link {
    color: inherit;
  }

  &__item {
    margin-right: $xl-indent;
    display: flex;
    align-items: center;
  }
}