/**
 * Grid
 *
 * Author: Damien Bayes <damien.bayes.db@gmail.com>
 * Project: Bayesian Aspectus
 */

 $grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
  ) !default;
  
  $grid-columns: 12 !default;
  $grid-gutter-width: 30px !default;
  $grid-row-columns: 6 !default;