/**
 * Indent
 *
 * Initial author: Damien Bayes <damien.bayes.db@gmail.com>
 * Project: Bayesian Aspectus
 */

 $base-indent: 16px !default;

 $xl-indent: 64px !default;
 $lg-indent: 32px !default;
 $sm-indent: 8px !default;
 $xs-indent: 4px !default;