<footer class="app-footer">
  <div class="container">

    <!-- Deck 1: Language Switcher -->
    <div class="language-switcher">
      {{ app_footer[app.locale].languageSwitcher.language }}: 

      <a href="javascript:" class="button">
        {% for lang in app.languages %}
          {{ lang.label if lang.code == app.locale else "" }}
        {% endfor %}
      </a>
    </div>

    <!-- Deck 2: Navigation -->
    <nav class="app-footer__navigation">
      {# Start looping though navigation items #}
      {%- for navigation in navigation[app.locale].items -%}
        {% if loop.first %}<ul>{% endif %}

          {%- set id = navigation.id %}
          {%- set name = navigation.name %}
          {%- set url = navigation.url %}

          <li data-navigation-id="{{ id }}" {% if page.url == url %} class="app-footer__navigation--active"{% endif %}>
            <a href="{{ url }}">{{ name }}</a>
          </li>

        {% if loop.last %}</ul>{% endif %}
      {%- endfor -%}
    </nav>

    <!-- Deck 3: Brand -->
    <div class="app-footer__brand">
      <img src="{{ '/' | url }}{{ app_footer.brandUrl }}" alt="{{ app.company.name }}"/>
    </div>

    <!-- Deck 4: Copyright -->
    <div class="app-footer__copyright">
      <p>&copy; {{ app_footer.currentYear }} {{ app.company.name }}</p>
      <p>
        <span>{{ app_footer[app.locale].copyright.paragraphs[0] }}</span>
        <span>{{ app_footer[app.locale].copyright.paragraphs[1] }}</span>
      </p>
    </div>

    <!-- Deck 5: Synthesis -->
    <div class="app-footer__synthesis">
      <ul>
        <li>{{ app_footer[app.locale].synthesis.productName }}: <span>{{ app.name }}</span></li>
        <li>{{ app_footer[app.locale].synthesis.clientVersion }}: <span>{{ app.version }}</span></li>
      </ul>
    </div>

  </div>
</footer>
