{# 
  App Header Partial

  Project: Baythium Packer
  File: /src/_includes/_partials/app-header.njk
  Initial author: Damien Bayes <damien.bayes.db@gmail.com>
#}

{# Alert #}
{%- if app.environment == "development" %}
<div class="alert-1 alert-1--danger">
  <div class="alert-1__header">
    <div>{{ translation[app.locale].warning }}</div>
    <div class="alert-1__close-button">&times;</div>
  </div>
  <div class="alert-1__body">
    <p><b class="mr-1--2">{{ translation[app.locale].websiteMode | title }}:</b><span>{{ app.environment }}</span></p>
    <p><b class="mr-1--2">{{ translation[app.locale].currentPage | title }}:</b><span>{{ page.url | url }}</span></p>
  </div>
</div>
{%- endif %}

<header class="app-header">
  <div class="container-1">

    <!-- Deck 1: System -->
    <div class="app-header__system">
      <div class="row-1">
        <div class="column-1--6">
          <a href="javascript:">{{ translation[app.locale].ecosystem | title }}</a>
          <a href="javascript:">{{ translation[app.locale].supportCenter | title }}</a>
        </div>

        <div class="column-1--6" style="text-align: right;">
          <a href="javascript:">{{ translation[app.locale].signUp | title }}</a>
          <a href="https://auth.baythium.com/authorize?client_id=10033&redirect_uri=https://packer.baythium.com/callback&scope=4&response_type=code&state=BrcH0DStb0x35sBrhNID8qXm5SnQdYoIFz1iHfDS">{{ translation[app.locale].signIn | title }}</a>
        </div>
      </div>
    </div>

    <!-- Deck 2 -->
    <div class="app-header__default">
      <div>
        <div class="app-header__brand">
          <a href="/">
            <img src="{{ '/' | url }}images/baythium-ecosystem-1.svg" alt="{{ app.name }}"/>
            {{ app.name }}
          </a>
        </div>
      </div>
      <div>
        <div class="app-header__parallelogram">
          <!-- Language switcher -->
          <div class="language-switcher m-1--0">
            <span class="icon icon--globe display-1--none display-sm-1--block">{{ translation[app.locale].language | title }}:</span>

            <a href="javascript:" class="language-switcher__link">
              {% for lang in app.languages %}
                {{ lang.label if lang.code == app.locale else "" }}
              {% endfor %}
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Deck 3: Navigation -->
    <nav class="navigation">
      <!-- <button class="navigation__button">&#8249;</button> -->
      
      <div class="navigation__wrapper">
        {%- for navigation in navigation[ app.locale ].items -%}
          {% if loop.first %}<ul class="navigation__list">{% endif %}
          
            {%- set id = navigation.id %}
            {%- set name = navigation.name %}
            {%- set url = navigation.url %}

            <li class="navigation__item" data-navigation-id="{{ id }}">
              <a class="navigation__link" href="{{ url }}">{{ name | title }}</a>
            </li>

          {% if loop.last %}</ul>{% endif %}
        {%- endfor -%}
      </div>

      <!-- <button class="navigation__button">&#8250;</button> -->
    </nav>

  </div>
</header>
