{# 
  App Footer Partial

  Project: Baythium Packer
  File: /src/_includes/_partials/app-footer.njk
  Initial author: Damien Bayes <damien.bayes.db@gmail.com>
#}

<footer class="app-footer">
  <div class="container">

    <!-- Deck 1: Language Switcher -->
    <div class="language-switcher mb-4">
      <span class="visible-xs">{{ translation[app.locale].language }}:</span>

      <a href="javascript:" class="language-switcher__link">
        {% for lang in app.languages %}
          {{ lang.label if lang.code == app.locale else "" }}
        {% endfor %}
      </a>
    </div>

    <!-- Deck 2: Navigation -->
    <nav class="app-footer__navigation">
      {# Start looping through navigation items #}
      {%- for navigation in navigation[app.locale].items -%}
        {% if loop.first %}<ul class="app-footer__navigation-list">{% endif %}

          {%- set id = navigation.id %}
          {%- set name = navigation.name %}
          {%- set url = navigation.url %}

          {# Compare the navigation url and special Eleventy-provided page.url variable to find the current page #}
          <li data-navigation-id="{{ id }}" class="app-footer__navigation-item">
            <a {% if page.url == url %} class="app-footer__navigation-link app-footer__navigation-link--active" {% else %} class="app-footer__navigation-link" {% endif %} href="{{ url }}">{{ name }}</a>
          </li>

        {% if loop.last %}</ul>{% endif %}
      {%- endfor -%}
    </nav>

    <!-- Deck 3: Brand -->
    <div class="app-footer__brand">
      <img src="{{ '/' | url }}images/baythium-ecosystem-inverted.svg" alt="{{ app.company.name }}"/>
    </div>

    <!-- Deck 4: Copyright -->
    <div class="app-footer__copyright">
      <p>&copy; {% currentYear %} {{ app.company.name }}</p>
      <p>
        <span>{{ translation[app.locale].copyright.paragraphs[0] }}</span>
        <span>{{ translation[app.locale].copyright.paragraphs[1] }}</span>
      </p>
    </div>

    <!-- Deck 5: Synthesis -->
    <div class="app-footer__synthesis">
      <ul>
        <li>{{ translation[app.locale].productName }}: <span>{{ app.name }}</span></li>
        <li>{{ translation[app.locale].clientVersion }}: <span>{{ app.version }}</span></li>
      </ul>
    </div>

  </div>
</footer>
