<!-- Header Partial -->

{% if app.environment === "development" %}
<div class="alert alert--warning">
  <p>You're running the application in the <strong>{{ app.environment }}</strong> mode.</p>
  <p>Current page: {{ page.url | url }}</p>
</div>
{% endif %}

<header class="app-header">
  <div class="container">

    <!-- Deck 1: System -->
    <div class="app-header__system">
      <ul>
        <li>Ecosystem</li>
        <li>Support Center</li>
      </ul>
      <ul>
        <li>Sign Up</li>
        <li>Sign In</li>
      </ul>
    </div>

    <!-- Deck 2 -->
    <div class="app-header__default">
      <div>
        <div class="app-header__brand">
          <a href="/">
            <img src="{{ '/' | url }}{{ app_header.brandUrl }}" alt="{{ app.name }}"/>
            {{ app.name }}
          </a>
        </div>
      </div>
      <div>
        <div class="app-header__parallelogram">
          <!-- Language switcher -->
          <div class="language-switcher">
            <span class="visible-xs">{{ language_switcher[app.locale].language }}:</span>

            <a href="javascript:" class="language-switcher__link">
              {% for lang in app.languages %}
                {{ lang.label if lang.code == app.locale else "" }}
              {% endfor %}
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Deck 3: Navigation -->
    <nav class="navigation">
      <button 
        class="navigation__button">&#8249;</button>
      
      <div class="navigation__wrapper">
        {%- for navigation in navigation[ app.locale ].items -%}
          {% if loop.first %}<ul class="navigation__list">{% endif %}
          
            {%- set id = navigation.id %}
            {%- set name = navigation.name %}
            {%- set url = navigation.url %}

            <li class="navigation__item" data-navigation-id="{{ id }}">
              <a class="navigation__link" href="{{ url }}">{{ name }}</a>
            </li>

          {% if loop.last %}</ul>{% endif %}
        {%- endfor -%}
      </div>

      <button 
        class="navigation__button">&#8250;</button>
    </nav>

  </div>
</header>
