{# 
  Head Partial

  File: /src/_includes/_partials/head.njk
  Project: Baythium Packer Client
  Organization: Baythium Ecosystem: https://baythium.com
#}

<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

  <!-- <meta name="viewport" content="user-scalable=no,initial-scale=1,maximum-scale=1"/> -->
  <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
  <!--
  <meta name="HandheldFriendly" content="true"/>
  <meta name="MobileOptimized" content="320"/>
  -->

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <meta name="copyright" content="{{ app.company.name }}"/>
  <meta name="robots" content="index, follow"/>
  <meta name="googlebot" content="all"/>
  <meta name="google" content="notranslate"/>
  <meta name="author" content="{{ app.author.name }} <{{ app.author.email }}>"/>
  <meta name="rating" content="general"/>
  <meta name="coverage" content="worldwide"/>
  <meta name="target" content="all"/>
  <meta name="revisit-after" content="3 days"/>

  <!-- <meta name="referrer" content="strict-origin-when-cross-origin"/> -->

  <!-- Change the color of the header and address bar -->
  <!-- Chrome, Firefox OS and Opera -->
  <meta name="theme-color" content="#ffffff"/>
  <!-- Windows Phone -->
  <meta name="msapplication-navbutton-color" content="#ffffff"/>
  <meta name="msapplication-TileColor" content="#ffffff"/>
  <!-- <meta name="msapplication-TileImage" content="/mstile-144x144.png"/> -->
  <!-- iOS Safari -->
  <meta name="apple-mobile-web-app-status-bar-style" content="default"/>

  <!-- <meta name="monetization" content="$pay.stronghold.co/1a155e3a09e210742be8c38ba7cab4795c4"/> -->

  <!-- Open Graph Protocol for Facebook, Telegram -->
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="{{ title }}"/>
  <meta property="og:site_name" content="{{ app.name }}"/>
  <meta property="og:description" content="{{ description }}"/>
  <meta property="og:url" content="{{ page.url | url }}"/>
  <meta property="og:image" content="{{ app.url }}/images/baythium-ecosystem.png"/>

  <!-- Twitter -->
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:site" content="{{ app.name }}"/>
  <meta name="twitter:title" content="{{ title }}"/>
  <meta name="twitter:description" content="{{ description }}"/>
  <meta name="twitter:image" content="{{ app.url }}/images/baythium-ecosystem.png"/>
  <meta name="twitter:creator" content="{{ app.company.name }}"/>
  <meta name="twitter:url" content="{{ page.url | url }}"/>

  <title>{{ title }} - {{ app.name }}</title>
  {#
    <!--
      NOTE: It’s safer to always prefix your variables with locals,
      that way you can easily support undefined variables in your
      templates
    -->
    <title>{{ locals.title }} - {{ app.name }}</title>
  #}

  <meta name="keywords" content="{{ keywords }}"/>
  <meta name="description" content="{{ description }}"/>

  {# WARNING: Link resources with a high priority MUST go first #}
  <link rel="canonical" href="{{ app.url }}"/>
  <!-- <link rel="amphtml" href="*.amp'/> -->

  {# @see: https://andrejgajdos.com/how-to-create-a-link-preview/ #}
  <link rel="image_src" href="{{ app.url }}/images/baythium-ecosystem.png"/>

  <link rel="alternate" hreflang="en" href="{{ app.url }}/"/>
  <link rel="alternate" hreflang="de" href="{{ app.url }}/de/"/>
  <link rel="alternate" hreflang="ru" href="{{ app.url }}/ru/"/>

  {# NOTE: DNS prefetching helps to decrease waiting time for visitors because the browser performs DNS lookups before it sends a request for resources located on other domains #}
  <!--
  <link rel="dns-prefetch" href="{{ app.url }}"/>
  <link rel="dns-prefetch" href="{{ app.supportUrl }}"/>
  <link rel="dns-prefetch" href="{{ app.authUrl }}"/>
  -->

  {#
    Start prefetching cacheable resources

    NOTE: Silently preload site contents to project a more fluid,
    seamless web experience
  #}
  <!-- <link rel="prefetch" href="{{ app.url }}/images/network-lines.svg"/> -->

  {# 
    Mark a web page with a shortcut icon in the browser’s tab area

    NOTE: For shortcut icons, the W3C recommends using a GIF or PNG file with dimensions of 16 × 16 pixels or 32 × 32 pixels
  #}
  <!-- <link rel="icon" href="/favicon.ico"/> -->
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>

  {#
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=d73aea1f"/>
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=d73aea1f"/>
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=d73aea1f"/>
  <link rel="mask-icon" href="/pinned-tab.svg?v=d73aea1f" color="#000000">
  #}

  <!-- <link type="text/css" href="https://static.baythium.com/styles/baythium-aspectus.min.css" rel="stylesheet" media="all" crossorigin="anonymous"/> -->
  <link type="text/css" href="/styles/baythium-aspectus.min.css" rel="stylesheet" media="all"/>
  <link type="text/css" href="/styles/baythium-vector.min.css" rel="stylesheet" media="all"/>

  <link type="text/css" href="/styles/custom-baythium-aspectus.min.css" rel="stylesheet" media="all"/>

  {% if stylesheets %}
    {% for style in stylesheets %}
      <link href="{{ style }}" rel="stylesheet"/>
    {% endfor %}
  {% endif %}

  <script type="module" src="/js/modules/components/index.js" defer></script>
</head>
