{# 
  Patch Note Partial

  File: /src/_includes/_partials/patch-note.njk
  Project: Baythium Packer Client
  Organization: Baythium Ecosystem: https://baythium.com
#}

<!-- Card -->
<div class="card">
  <div class="card__body">

    <!-- Headline -->
    <div class="headline headline--labeled">
      <h2 class="headline__title">Recent Patch Notes</h2>
    </div> 

    {# Start looping through patch notes #}
    {% for note in collections.patch_notes %}
      {% if loop.first %}<ul class="list">{% endif %}
        <li class="list__item">
          <a class="list__link" href="{{ note.url | url }}">
            <div class="list__deck">
              <div class="list__subdeck list__subdeck--growth">
                <h6 class="list__title">{{ note.data.title }}</h6>
                <p class="list__description">{{ note.date | humanReadableFormat }}</p>
              </div>
              <div class="list__subdeck"><span class="badge badge--secondary badge--rounded">{{ note.data.author }}</span></div>
            </div>
          </a>
        </li>
      {% if loop.last %}</ul>{% endif %}
    {% endfor %}

  </div>
</div>