{# 
  Patch Note Partial

  Project: Baythium Packer
  File: /src/_includes/_partials/patch-note.njk
  Initial author: Damien Bayes <damien.bayes.db@gmail.com>
#}

<div class="card-1 mr-md-1--2">
  <div class="card-1__body">

    <!-- Headline -->
    <div class="headline-1">
      <h2 class="headline-1__title">Recent Patch Notes</h2>
    </div>

    {# Start looping through patch notes #}
    {% for note in collections.patch_notes %}
      {% if loop.first %}<ul class="list">{% endif %}
        <div>
          <a href="{{ note.url | url }}">{{ note.data.title }}<span class="badge-1 badge-1--alternative badge-1--rounded">{{ note.data.date | humanReadableFormat }}</span></a>
        </div>
      {% if loop.last %}</ul>{% endif %}
    {% endfor %}

  </div>
</div>