---js
{
  layout: "_layouts/base.njk",
  author: "Damien Bayes",
  title: "Basic Usage",
  date: "2020-05-21",
  tags: "docs"
}
---

<!-- Section -->
<section class="section basic-usage">

  <!-- Card -->
  <div class="card">
    <div class="card__body">

      <!-- Headline -->
      <div class="headline headline--xl headline--labeled">
        <h1 class="headline__title">{{ title }}</h1>
        <p class="headline__description"></p>
      </div>

      <div class="basic-usage__content">
        <p>Cras est libero, posuere sed justo in, ullamcorper aliquet est. Etiam orci orci, cursus sit amet velit et, mollis faucibus libero. Phasellus porta nulla et nunc elementum, eu ultrices est ornare. Phasellus vel enim eu felis vestibulum ultrices. Praesent vitae cursus orci. Fusce commodo enim eu orci porta, quis convallis nunc venenatis. Mauris venenatis interdum vulputate. Vivamus gravida vitae orci et tempus. Sed varius hendrerit porta. Mauris est lorem, accumsan eget gravida ut, lobortis et sapien. Suspendisse sed elementum turpis.</p>
        <p>Fusce molestie lorem non ullamcorper elementum. Nunc justo metus, elementum eu tincidunt id, blandit vel tellus. Suspendisse eget magna quis odio gravida laoreet. Nam interdum sem felis, ac tempus lectus faucibus in. Praesent ut nulla eget massa fringilla posuere eu sagittis risus. Nullam sed urna a leo ornare lacinia ut non lorem. Nam consectetur, neque sed pellentesque mollis, lectus felis rutrum nunc, non sodales magna metus vitae ligula. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec vel elementum tellus. Quisque ullamcorper, diam et euismod efficitur, urna ex ultricies ligula, non mollis odio est quis justo. Nunc sodales hendrerit mauris.</p>
        <p>Nulla fermentum pharetra metus ac suscipit. Nullam neque turpis, mollis ut consequat ac, gravida vel nisi. Nunc imperdiet leo tristique nulla commodo sagittis. Curabitur tempor nec elit et molestie. Maecenas aliquet lacus nec nibh feugiat eleifend. Praesent dolor lorem, pharetra id ante eget, ultrices eleifend justo. Sed scelerisque sollicitudin scelerisque. Morbi eget lacus turpis. Morbi blandit vulputate neque ac fringilla.</p>
      </div>

    </div>
  </div>

</section>