---
layout: "_layouts/base.njk"
author: "Damien Bayes"
title: Patch Note 1.1
date: 2020-02-04
tags: "patch_notes"
---

<div class="headline">
  <h1>{{ title }}</h1>
  <p>{{ date | convertToReadableDate }}</p>
</div>

<div class="table-of-content">
  <h2 class="table-of-content__title">Table of Contents</h2>

  <ul class="table-of-content__list">
    <li class="table-of-content__item">
      <a href="#" class="table-of-content__link">1</a>
    </li>
  </ul>
</div>

Hello World - 2