---js
{
  layout: "_layouts/base.njk",
  author: "Damien Bayes",
  title: "JSON Scheme",
  date: "2020-05-21",
  tags: "docs"
}
---

<!-- Section -->
<section class="section json-scheme">

  <!-- Card -->
  <div class="card">
    <div class="card__body">

      <!-- Headline -->
      <div class="headline headline--xl">
        <h1 class="headline__title">{{ title }}</h1>
        <p class="headline__description"></p>
      </div>

    </div>
  </div>

</section>