/**
 * Custom Baythium Aspectus
 *
 * File: /src/styles/custom-baythium-aspectus.scss
 * Project: Baythium Packer Client
 * Organization: Baythium Ecosystem: https://baythium.com
 */

/* Variables */
@import "variables/all"; 

/* Components */
@import "components/app-header";
@import "components/app-footer";
@import "components/navigation";
@import "components/language-switcher";
@import "components/faq";

@import "components/syntax-highlight";
@import "components/prism";

/* Custom Modifications */
.icon { 
  display: inline-flex;
  margin-left: 4px;
  margin-bottom: 0;
  vertical-align: middle;
}

/*********/
/* PAGES */
/*********/

/* Not Found Page */
.page-not-found {
  & .row {
    display: flex;
    align-items: center;
    text-align: center;
  }

  &__image {
    img {
      max-width: 75%;
      height: auto;
    }
  }
}

/* Home Page */
.home {
  &__brand {
    display: flex;
    align-items: center;
    padding: $indent--xl;
    flex-direction: column;

    #vacuum,
    img {
      width: 196px;
      height: auto;
      margin-bottom: $indent--base;
    }

    /* Project logo */
    #vacuum {
      @for $i from 1 through 8 {
        #particle#{$i} {
          animation: particle-ani 3s linear infinite;
          transition-delay: random() + s;
          animation-delay: random() + s;
        }
      }
    }

    @keyframes particle-ani {
      0%,
      50%,
      to {
        opacity: 1;
      }
      25%,
      75% {
        opacity: 0;
      }
    }

    p { text-align: center; }
  }

  &__main-card {
    position: relative;
    overflow: hidden;
    z-index: 0;

    .headline__title {
      color: $color--primary;
      font-size: 48px !important;

      // background-image: -webkit-linear-gradient(120deg,#b142ec 0%,#812bea 100%);
      // background-clip: text;
      // -webkit-text-fill-color: transparent;
    }

    .row {
      display: flex;
      align-items: center;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: url("/images/tiles.svg") 0 0 no-repeat; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      object-fit: contain;
      z-index: -1;
      opacity: .25;
    }
  }

  &__feature-card {
    margin-bottom: 32px !important;

    .card img {
      margin: 0 auto;
      object-fit: contain;
      width: 96px;
      transition: -webkit-filter 200ms;
      transition: filter 200ms;

      &:hover {
        -webkit-filter: brightness(110%) contrast(110%);
        filter: brightness(110%) contrast(110%);
      }
    }
  }

  .github-banner {
    background-color: $color--primary !important;
    overflow: initial !important;
    padding: $indent--xl;
    position: relative;

    background: radial-gradient(circle at top left,#3a1f5d 0%,#521d91 100%) !important;

    .row {
      display: flex;
      align-items: center;
      color: $color--white;
    }

    &__octocat {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 128px;
      height: 128px;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      object-fit: contain;
      opacity: .05;
      filter: invert(1);
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      z-index: -1;
      width: 32px;
      height: 32px;
      border-radius: 100%;
      background: $color--secondary;
      top: -16px;
      left: 64px;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      z-index: -1;
      width: 128px;
      height: 128px;
      border-radius: 67% 33% 75% 25% / 0% 81% 19% 100%;
      background: $color--alternative;
      right: -64px;
      bottom: -32px;
    }
  }
}