/* VARIABLES */
@import "variables/all"; 

/* MIXINS */
@import "mixins/font";

/* UTILS */
@import "icons";

/* COMPONENTS */
@import "components/font";

@import "components/app-header";
@import "components/app-footer";
@import "components/navigation";
@import "components/language-switcher";
@import "components/faq";

/* ANIMATIONS */
@import "animations/font";

/* CUSTOM MODIFICATIONS */
@import "fonts/solid";
@import "fonts/solid";

html { height: 100%; }
body { min-width: 400px; }
.section { padding: $lg-indent $base-indent; }
.button { text-decoration: none; }

.page-not-found {
  &__image {
    display: flex;
    align-items: center;
    padding: $base-indent;

    img {
      width: 512px;
      height: auto;
    }
  }
}