/**
 * Custom Baythium Aspectus
 *
 * Project: Bayesian Packer
 * File: /src/styles/custom-baythium-aspectus.scss
 * Initial author: Damien Bayes <damien.bayes.db@gmail.com>
 */

/* VARIABLES */
@import "variables/all"; 

/* COMPONENTS */
@import "components/app-header";
@import "components/app-footer";
@import "components/navigation";
@import "components/language-switcher";
@import "components/faq";

/* CUSTOM MODIFICATIONS */

/* PAGES */
.page-not-found {
  & .row-1 {
    display: flex;
    align-items: center;
    text-align: center;
  }

  &__image {
    img {
      max-width: 75%;
      height: auto;
    }
  }
}

.home {
  &__brand {
    display: flex;
    align-items: center;
    padding: $xl-indent 0;
    flex-direction: column;

    img {
      width: 196px;
      height: auto;
      margin-bottom: $base-indent;
    }

    p {
      text-align: center;
      font-size: $xs-font-size;
    }
  }

  .button-collection {
    .button {
      margin-bottom: $base-indent;
    }
  }

  .card:first-of-type {
    position: relative;
    overflow: hidden;
    z-index: 0;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: url("../images/tiles.svg") 0 0 no-repeat; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      object-fit: contain;
      z-index: -1;
      opacity: .25;
    }
  }

  .card__body .row {
    display: flex;
    align-items: center;
  }
}