/**
 * Font
 * 
 * Project: Bayesian Packer
 * File: /src/scss/animations/font.scss
 * Initial author: Damien Bayes <damien.bayes.db@gmail.com>
 */

/* Animated Icons */
.#{$fa-css-prefix}-spin {
    animation: fa-spin 2s infinite linear;
}
  
.#{$fa-css-prefix}-pulse {
  animation: fa-spin 1s infinite steps(8);
}
  
@keyframes fa-spin {
  0% {
    transform: rotate(0deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
} 

/* Rotated & Flipped Icons */
.#{$fa-css-prefix}-rotate-90  { @include fa-icon-rotate(90deg, 1);  }
.#{$fa-css-prefix}-rotate-180 { @include fa-icon-rotate(180deg, 2); }
.#{$fa-css-prefix}-rotate-270 { @include fa-icon-rotate(270deg, 3); }

.#{$fa-css-prefix}-flip-horizontal { @include fa-icon-flip(-1, 1, 0); }
.#{$fa-css-prefix}-flip-vertical   { @include fa-icon-flip(1, -1, 2); }
.#{$fa-css-prefix}-flip-both, .#{$fa-css-prefix}-flip-horizontal.#{$fa-css-prefix}-flip-vertical { @include fa-icon-flip(-1, -1, 2); }

/* Hook for IE8-9 */
:root {
  .#{$fa-css-prefix}-rotate-90,
  .#{$fa-css-prefix}-rotate-180,
  .#{$fa-css-prefix}-rotate-270,
  .#{$fa-css-prefix}-flip-horizontal,
  .#{$fa-css-prefix}-flip-vertical,
  .#{$fa-css-prefix}-flip-both {
    filter: none;
  }
}

/* Stacked Icons */
.#{$fa-css-prefix}-stack {
    display: inline-block;
    height: 2em;
    line-height: 2em;
    position: relative;
    vertical-align: middle;
    width: ($fa-fw-width*2);
  }
  
  .#{$fa-css-prefix}-stack-1x,
  .#{$fa-css-prefix}-stack-2x {
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
  }
  
  .#{$fa-css-prefix}-stack-1x {
    line-height: inherit;
  }
  
  .#{$fa-css-prefix}-stack-2x {
    font-size: 2em;
  }
  
  .#{$fa-css-prefix}-inverse {
    color: $fa-inverse;
  }

/* Screen Readers */
.sr-only { @include sr-only; }
.sr-only-focusable { @include sr-only-focusable; }
