---js
{
  layout: "_layouts/base.njk",
  title: "Patch Notes",
  pagination: {
    data: "collections.patch_notes",
    size: 2,
    alias: "notes"
  },
  changeFrequency: "monthly",
  priority: 0.9,
  translationKey: "patch-notes",
  locale: "en",
  description: "Read the latest patch notes or research historical changes"
}
---

{# 
  Patch Notes

  Project: Baythium Packer
  File: /src/patch-notes/index.njk
  Initial author: Damien Bayes <damien.bayes.db@gmail.com>
#}

<section class="section-1 patch-notes">

  <div class="card-1">
    <div class="card-1__body">
    
      <!-- Headline -->
      <div class="headline-1 headline-1--xl">
        <h1 class="headline-1__title">{{ title }}</h1>
        <p class="headline-1__description">{{ description }}</p>
      </div>

      {# Start looping notes #}
      {% for note in notes | reverse %}
        {% if loop.first %}<ul>{% endif %}
          <li>
            <article>
              <a href="{{ note.url | url }}">
                {{ note.data.title }}
                {{ note.date | humanReadableFormat }}
              </a>
            </article>
          </li>
        {% if loop.last %}</ul>{% endif %}
      {% endfor %}
    </div>
    <div class="card-1__action-bar">

      <!-- Pagination -->
      <nav class="pagination-1" aria-labelledby="pagination1">
        <ul class="pagination-1__list">
          {%- for pageEntry in pagination.pages %}
            <li class="pagination-1__item">
              <a href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} class="pagination-1__link pagination-1__link--active" aria-current="page" {% else %} class="pagination-1__link" {% endif %}>{{ loop.index }}</a>
            </li>
          {%- endfor %}
        </ul>
      </nav>

    </div>
  </div>

</section>
