---js
{
  layout: "_layouts/base.njk",
  title: "Patch Notes",

  pagination: {
    data: "collections.patch_notes",
    size: 6,
    alias: "notes"
  }
}
---

<div class="headline">
  <h1>{{ title }}</h1>
  <p>Read the latest {{ app.name }} patch notes or research historical changes</p>
</div>

{% for note in notes %}
  <article>
    <a href="{{ note.url | url }}">
      {{ note.data.title }}
      {{ note.date | convertToReadableDate }}
    </a>
  </article>
{% endfor %}