---js
{
  layout: "_layouts/base.njk",
  title: "Patch Notes",
  pagination: {
    data: "collections.patch_notes",
    size: 3,
    alias: "notes",
    reverse: true
  },
  changeFrequency: "monthly",
  priority: 0.9,
  translationKey: "patch-notes",
  locale: "en",
  description: "Read the latest patch notes or research historical changes."
}
---

{# 
  Patch Notes

  File: /src/patch-notes/index.njk
  Project: Baythium Packer Client
  Organization: Baythium Ecosystem: https://baythium.com
#}

<section class="section patch-notes">

  <div class="card">
    <div class="card__body">
    
      <!-- Headline -->
      <div class="headline headline--xl headline--labeled">
        <h1 class="headline__title">{{ title }}</h1>
        <p class="headline__description">{{ description }}</p>
      </div>

      {# Start looping through notes #}
      {% for note in notes %}
        {% if loop.first %}<ul class="list">{% endif %}
          <li class="list__item">
            <a class="list__link" href="{{ note.url | url }}">
              <div class="list__deck">
                <div class="list__subdeck list__subdeck--growth">
                  <h6 class="list__title">{{ note.data.title }}</h6>
                  <p class="list__description">{{ note.date | humanReadableFormat }}</p>
                </div>
                <div class="list__subdeck">Author:<span class="badge badge--secondary badge--rounded">{{ note.data.author }}</span></div>
              </div>
            </a>
          </li>
        {% if loop.last %}</ul>{% endif %}
      {% endfor %}
    </div>

    <div class="card__action-bar">

      <!-- Pagination -->
      <ul class="paginator paginator--primary mb-2" style="justify-content: center;" aria-labelledby="pagination">
        <li class="paginator__item">
          {% if pagination.href.previous %}
            <a class="paginator__link" href="{{ pagination.href.previous }}">&#60;</a>
          {% else %}
            <a class="paginator__link paginator__link--disabled" href="javascript:">&#60;</a>
          {% endif %}
        </li>
        {%- for pageEntry in pagination.pages %}
          <li {% if page.url == pagination.hrefs[ loop.index0 ] %} class="paginator__item paginator__item--active" aria-current="page" {% else %} class="paginator__item" {% endif %}>
            <a class="paginator__link" href="{{ pagination.hrefs[ loop.index0 ] }}">{{ loop.index }}</a>
          </li>
        {%- endfor %}
        <li class="paginator__item">
          {% if pagination.href.next %}
            <a class="paginator__link" href="{{ pagination.href.next }}">&#62;</a>
          {% else %}
            <a class="paginator__link paginator__link--disabled" href="javascript:">&#62;</a>
          {% endif %}
        </li>
      </ul>
    </div>

  </div>

</section>
