/**
 * All
 *
 * File: /src/styles/variables/all.scss
 * Project: Baythium Aspectus
 * Organization: Baythium Ecosystem: https://baythium.com
 *
 * RULES:
 * 1. All imported variables MUST HAVE the appropriate orders (Ascending)
 */

@charset "utf-8";

@import "animation";
@import "background";
@import "border";
@import "color";
@import "font";
@import "indent";
@import "layer";
@import "percentage";
@import "shadow";
@import "size";
@import "text";