/**
 * Border
 *
 * Project: Bayesian Aspectus
 * File: /src/styles/variables/border.scss
 * Initial author: Damien Bayes <damien.bayes.db@gmail.com>
 */

$max-border-radius: 100%;

$xl-border-radius: 3em !default;
$lg-border-radius: 2em !default;
 
$base-border-radius: 1em !default;
 
$sm-border-radius: .5em !default;
$xs-border-radius: .25em !default;
 
$min-border-radius: 0%;