/**
 * Duration
 *
 * Project: Bayesian Aspectus
 * File: /src/styles/variables/duration.scss
 * Initial author: Damien Bayes <damien.bayes.db@gmail.com>
 */

 $extra-small-animation-duration: 1s;
 $small-animation-duration: 600ms;
 
 $base-animation-duration: 300ms;
 
 $fast-animation-duration: 200ms;
 $extra-fast-animation-duration: 100ms;