/**
 * Indent
 *
 * Project: Bayesian Aspectus
 * File: /src/styles/variables/indent.scss
 * Initial author: Damien Bayes <damien.bayes.db@gmail.com>
 */

$base-indent: 16px !default;

$xl-indent: 64px !default;
$lg-indent: 32px !default;
$sm-indent: 8px !default;
$xs-indent: 4px !default;

$no-indent: 0px !default;