/**
 * Layer
 *
 * Project: Bayesian Aspectus
 * File: /src/styles/variables/layer.scss
 * Initial author: Damien Bayes <damien.bayes.db@gmail.com>
 */

$layer-100: 100;
$layer-200: 200;
$layer-300: 300;
$layer-400: 400;
$layer-500: 500;
$layer-600: 600;
$layer-700: 700;
$layer-800: 800;
$layer-900: 900;