---js
{
  layout: "_layouts/base.njk",
  author: "Damien Bayes",
  title: "Getting Started",
  date: "2020-05-21",
  tags: "docs",
  stylesheets: [],
  javascripts: ["/js/docs.js"]
}
---

<!-- Section -->
<section class="section getting-started">

  <div class="card">
    <div class="card__body">

      <div class="row">
        <div class="column--6">

          <!-- Headline -->
          <div class="headline headline--xl headline--labeled">
            <h1 class="headline__title">{{ title }}</h1>
            <p class="headline__description"></p>
          </div>

        </div>

        <div class="column--6 text--right">
          <button class="button button--xs button--outlined-primary button--rounded display--none" data-share>Share</button>
        </div>
      </div>

    </div>
  </div>

</section>