---js
{
  layout: "_layouts/base.njk",
  title: "Unauthorized",
  excludedFromSitemap: true
}
---

{# 
  401 - Unauthorized

  Project: Baythium Packer
  File: /src/exceptions/401.njk
  Initial author: Damien Bayes <damien.bayes.db@gmail.com>
#}

<h1>{{ title }}</h1>
<p>Authentication is required</p>