---js
{
  layout: "_layouts/base.njk",
  title: "Forbidden",
  excludedFromSitemap: true
}
---

{# 
  403 - Forbidden

  Project: Baythium Packer
  File: /src/exceptions/403.njk
  Initial author: Damien Bayes <damien.bayes.db@gmail.com>
#}

<h1>{{ title }}</h1>
<p>The request contained valid data and was understood by the server, but the server is refusing action</p>