---js
{
  layout: "_layouts/base.njk",
  title: "Page Not Found",
  excludedFromSitemap: true
}
---

{# 
  404 - Page Not Found

  File: /src/exceptions/404.njk
  Project: Baythium Packer Client
  Organization: Baythium Ecosystem: https://baythium.com
#}

<!-- Section -->
<section class="section page-not-found">

  <!-- Deck 1 -->
  <div class="row">

    <!-- Subdeck 1 -->
    <div class="column__sm--6 order__sm--1 order--2">
      <div class="page-not-found__content">
        <h1>{{ title }}</h1>
        <p>The requested resource could not be found but may be available in the future</p>
        <a class="button button--primary button--rounded" href="{{ '/' | url }}">Go Home</a>
      </div>
    </div>

    <!-- Subdeck 2 -->
    <div class="column__sm--6 order__sm--2 order--1">
      <div class="page-not-found__image">
        <img src="{{ '/' | url }}images/page-not-found.svg" alt="{{ app.name }}"/>
      </div>
    </div>

  </div>  
</section>
