---js
{
  layout: "_layouts/base.njk",
  title: "Method Not Allowed",
  excludedFromSitemap: true
}
---

{# 
  405 - Method Not Allowed

  Project: Baythium Packer
  File: /src/exceptions/405.njk
  Initial author: Damien Bayes <damien.bayes.db@gmail.com>
#}

<h1>{{ title }}</h1>
<p>A request method is not supported for the requested resource</p>