---js
{
  layout: "_layouts/base.njk",
  title: "Method Not Allowed",
  excludedFromSitemap: true
}
---

{# 
  405 - Method Not Allowed

  File: /src/exceptions/405.njk
  Project: Baythium Packer Client
  Organization: Baythium Ecosystem: https://baythium.com
#}

<h1>{{ title }}</h1>
<p>A request method is not supported for the requested resource</p>