---js
{
  layout: "_layouts/base.njk",
  title: "Not Acceptable",
  excludedFromSitemap: true
}
---

{# 
  406 - Not Acceptable

  Project: Baythium Packer
  File: /src/exceptions/406.njk
  Initial author: Damien Bayes <damien.bayes.db@gmail.com>
#}

<h1>{{ title }}</h1>
<p>The requested resource is capable of generating only content not acceptable according to the Accept headers sent in the request</p>