---js
{
  layout: "_layouts/base.njk",
  title: "Not Acceptable",
  excludedFromSitemap: true
}
---

{# 
  406 - Not Acceptable

  File: /src/exceptions/406.njk
  Project: Baythium Packer Client
  Organization: Baythium Ecosystem: https://baythium.com
#}

<h1>{{ title }}</h1>
<p>The requested resource is capable of generating only content not acceptable according to the Accept headers sent in the request</p>