---js
{
  layout: "_layouts/base.njk",
  title: "Precondition Failed",
  excludedFromSitemap: true
}
---

{# 
  412 - Precondition Failed

  File: /src/exceptions/412.njk
  Project: Baythium Packer Client
  Organization: Baythium Ecosystem: https://baythium.com
#}

<h1>{{ title }}</h1>
<p>The server does not meet one of the preconditions that the requester put on the request header fields</p>