---js
{
  layout: "_layouts/base.njk",
  title: "Server Error",
  excludedFromSitemap: true
}
---

{# 
  50x - Server Error

  File: /src/exceptions/50x.njk
  Project: Baythium Packer Client
  Organization: Baythium Ecosystem: https://baythium.com
#}

<h1>{{ title }}</h1>
<p>The server failed to fulfill a request</p>