---js
{
  layout: "_layouts/base.njk",
  title: "Server Error",
  excludedFromSitemap: true
}
---

{# 
  50x - Server Error

  Project: Baythium Packer
  File: /src/exceptions/50x.njk
  Initial author: Damien Bayes <damien.bayes.db@gmail.com>
#}

<h1>{{ title }}</h1>
<p>The server failed to fulfill a request</p>