---js
{
  layout: "_layouts/base.njk",
  title: "Malicious Request",
  excludedFromSitemap: true
}
---

{# 
  Malicious Request

  Project: Baythium Packer
  File: /src/exceptions/malicious-request.njk
  Initial author: Damien Bayes <damien.bayes.db@gmail.com>
#}

<section class="section-1 malicious-request">

  <h1>Malicious Request</h1>
  <p>This request has been blocked by Anti XSS & SQL Injection</p>
  
</section>

