<header>
  <div>
    <ul>
      <li>Ecosystem</li>
      <li>Support Center</li>
    </ul>
    <ul>
      <li>Sign Up</li>
      <li>Sign In</li>
    </ul>
  </div>

  <div>
    {{ app.name }}
  </div>

  <nav>
    <ul>
      {%- for navigation in navigation[ app.locale ].items -%}
      <li>
        <a href="{{ navigation.url }}">{{ navigation.name }}</a>
      </li>
      {%- endfor -%}
    </ul>
  </nav>
</header>