<footer class="app-footer">
  <!-- Deck 1 -->
  <nav class="app-footer__navigation">
    <ul>
      {%- for navigation in navigation.items -%}

      {%- set name = navigation.name %}
      {%- set url = navigation.url %}

      <li>
        <a href="{{ url }}">{{ name }}</a>
      </li>

      {%- endfor -%}
    </ul>
  </nav>

  <!-- Deck 2 -->
  <div class="app-footer__brand">
    <img src="{{ '/' | url }}images/bayesian-ecosystem-inverted.svg" alt="Bayesian Ecosystem"/>
  </div>

  <!-- Deck 3 -->
  <div class="app-footer__copyright">
    <p>&copy; {{ app_footer.currentYear }} Bayesian Ecosystem</p>
    <p>
      <span>All product names, trademarks and registered trademarks are property of their respective owners</span>
      <span>Use of these names, trademarks and brands does not imply endorsement</span>
    </p>
  </div>

  <!-- Deck 4 -->
  <div class="app-footer__synthesis">
    <ul>
      <li>Product name: <span>{{ app.name }}</span></li>
      <li>Client version: <span>{{ app.version }}</span></li>
    </ul>
  </div>
</footer>