<header>
  <div>
    <ul>
      <li>Ecosystem</li>
      <li>Support Center</li>
    </ul>
    <ul>
      <li>Sign Up</li>
      <li>Sign In</li>
    </ul>
  </div>

  <div>
    {{ metadata.title }}
  </div>

  <nav>
    <ul>
      <li>
        <a href="javascript:">Home</a>
      </li>
      <li>
        <a href="javascript:">Guide</a>
      </li>
      <li>
        <a href="javascript:">Updates</a>
      </li>
      <li>
        <a href="javascript:">About</a>
      </li>
      <li>
        <a href="javascript:">FAQ</a>
      </li>
      <li>
        <a href="javascript:">Contribution</a>
      </li>
      <li>
        <a href="javascript:">Contact</a>
      </li>
    </ul>
  </nav>
</header>