---js
{
  keywords: "bash, shell, unix, automation, baythium-automation, baythium-ecosystem, archiver, cli, powershell, windows, baythium-family, baythium, baythium-packer"
}
---

{# 
  Base Layout

  Project: Baythium Packer
  File: /src/_includes/_layouts/base.njk
  Initial author: Damien Bayes <damien.bayes.db@gmail.com>
#}

<!doctype html>

<html lang="{{ app.locale }}" prefix="og:http://ogp.me/ns#">
  {% include "_partials/head.njk" %}

  <body id="app" class="baythium-aspectus baythium-aspectus--light no-js">
    <noscript>
      <div class="alert-1 alert-1--danger">
        <div class="alert-1__header">
          <div>{{ translation[app.locale].danger }}</div>
        </div>
        <div class="alert-1__body">
          <p>{{ translation[app.locale].noJs }}</p>
        </div>
      </div>

      <!-- Google Tag Manager -->
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5WH62H7" height="0" width="0" style="display:none; visibility:hidden;"></iframe>
    </noscript>

    {# Alert #}
    {%- if app.environment == "development" %}
    <div class="alert-1 alert-1--warning">
      <div class="alert-1__header">
        <div>{{ translation[app.locale].warning }}</div>
      </div>
      <div class="alert-1__body">
        <p><b class="mr-1--2">{{ translation[app.locale].websiteMode | title }}:</b><span>{{ app.environment }}</span></p>
        <p><b class="mr-1--2">{{ translation[app.locale].currentPage | title }}:</b><span>{{ page.url | url }}</span></p>
      </div>
    </div>
    {%- endif %}

    {% include "_partials/app-header.njk" %}
    <main class="container-1">
      {# "Dynamic" content goes here #}
      {{ content | safe }}
    </main>
    {% include "_partials/app-footer.njk" %}

    {# GDPR #}
    {#
    <div class="gdpr">
      <p>
        This site uses cookies for analytics, personalized content and ads. By continuing to browse this site, you agree to our <a href="{{ app.policyUrl }}" title="Privacy Policy">privacy policies</a>
        <button class="button-1 button-1--primary" title="Close">Accept</button>
      </p>
    </div>
    #}

    {# THIRD-PARTY IMPORTS #}
    <!-- <script src="https://cdn.optimizely.com/js/6721bcf5-449a-48f1-80c9-2627acf496ee.js"></script> -->
    <!--
      Global site tag (gtag.js) - Google Analytics

      WARNING: For best practice, establish early connections to important third-party origins
    -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-163071822-1"></script>

    {# CUSTOM IMPORTS #}
    <script src="/js/baythium-aspectus.min.js"></script>

    {% if javascripts %}
      {% for javascript in javascripts %}
        <script src="{{ javascript }}"></script>
      {% endfor %}
    {% endif %}

        <!-- 1. Capture the javascript content as a nunjucks variable -->
    {% set js %}
      {% include "_js/global.js" %}
    {% endset %}
    <!-- 2. Feed it through minifyJs filter to minify content -->
    {% if app.environment == "development" %}
      <script>{{ js | safe }}</script>
    {% else %}
      <script>{{ js | minifyJs | safe }}</script>
    {% endif %}
  </body>
</html>
