{# 
  Secondary Layout

  File: /src/_includes/_layouts/secondary.njk
  Project: Baythium Packer Client
  Organization: Baythium Ecosystem: https://baythium.com
#}

{% extends "base.njk" %}

{% block content %}
  {{ content | safe }}
{% endblock content %}