{# 
  Secondary Layout

  Project: Baythium Packer
  File: /src/_includes/_layouts/secondary.njk
  Initial author: Damien Bayes <damien.bayes.db@gmail.com>
#}

{% extends "base.njk" %}

{% block content %}
  {{ content | safe }}
{% endblock content %}