---js
{
  layout: "_layouts/base.njk",
  title: "About",
  changeFrequency: "yearly",
  priority: 0.6,
  translationKey: "about",
  locale: "en"
}
---

{# 
  About

  Project: Baythium Packer
  File: /src/about.njk
  Initial author: Damien Bayes <damien.bayes.db@gmail.com>
#}

<!-- About Page -->
<section class="section-1 about">

  <div class="card-1">
    <div class="card-1__body">
      
      <!-- Headline -->
      <div class="headline-1 headline-1--xl">
        <h1 class="headline-1__title">{{ title }}</h1>
        <p class="headline-1__description"></p>
      </div>

    </div>
  </div>

</section>
