---js
{
  layout: "_layouts/base.njk",
  title: "About",
  changeFrequency: "yearly",
  priority: 0.6,
  translationKey: "about",
  locale: "en",
  stylesheets: [],
  javascripts: []
}
---

{# 
  About

  File: /src/about.njk
  Project: Baythium Packer
  Organization: Baythium Ecosystem: https://baythium.com
#}

<!-- Section -->
<section class="section about">

  <!-- Card -->
  <div class="card">
    <div class="card__body">
      
      <!-- Headline -->
      <div class="headline headline--xl">
        <h1 class="headline__title">{{ title }}</h1>
        <p class="headline__description"></p>
      </div>

    </div>
  </div>

</section>
