---js
{
  layout: "_layouts/base.njk",
  title: "About",
  changeFrequency: "weekly",
  priority: 0.6
}
---

{# 
  About

  Project: Baythium Packer
  File: /src/about.njk
  Initial author: Damien Bayes <damien.bayes.db@gmail.com>
#}

<!-- About Page -->
<section class="section about">

  <div class="card">
    <div class="card__body">
      
      <!-- Headline -->
      <div class="headline headline--extra-large">
        <h1 class="headline__title">{{ title }}</h1>
        <p class="headline__description"></p>
      </div>

    </div>
  </div>

</section>
