---js
{
  layout: "_layouts/base.njk",
  title: "Change Logs",
  stylesheets: [],
  javascripts: []
}
---

{# 
  Change Logs

  File: /src/change-logs.njk
  Project: Baythium Packer
  Organization: Baythium Ecosystem: https://baythium.com
#}

<!-- Section -->
<section class="section change-logs">

  <!-- Card -->
  <div class="card">
    <div class="card__body">
      
      <!-- Headline -->
      <div class="headline headline--xl">
        <h1 class="headline__title">{{ title }}</h1>
        <p class="headline__description"></p>
      </div>

      {% changeLog filePath=page.inputPath %}

    </div>
  </div>

</section>
