---js
{
  layout: "_layouts/base.njk",
  title: "Contact",
  changeFrequency: "monthly",
  priority: 0.5
}
---

{# 
  Contact

  Project: Baythium Packer
  File: /src/contact.njk
  Initial author: Damien Bayes <damien.bayes.db@gmail.com>
#}

<!-- Contact Page -->
<section class="section contact">

  <div class="card">
    <div class="card__body">

      <!-- Headline -->
      <div class="headline headline--extra-large">
        <h1 class="headline__title">{{ title }}</h1>
        <p class="headline__description"></p>
      </div>

    </div>
  </div>

</section>
