---js
{
  layout: "_layouts/base.njk",
  title: "Contact",
  changeFrequency: "yearly",
  priority: 0.5,
  translationKey: "contact",
  locale: "en",
  stylesheets: [],
  javascripts: []
}
---

{# 
  Contact

  File: /src/contact.njk
  Project: Baythium Packer Client
  Organization: Baythium Ecosystem: https://baythium.com
#}

<!-- Section -->
<section class="section contact">

  <!-- Card -->
  <div class="card">
    <div class="card__body">

      <!-- Headline -->
      <div class="headline headline--xl headline--labeled">
        <h1 class="headline__title">{{ title }}</h1>
        <p class="headline__description">We are committed to open communication with our community, and we welcome inquiries and feedback of all kinds.</p>
      </div>

      <bth-info title="Custom Component"></bth-info>

    </div>
  </div>

</section>
