---js
{
  layout: "_layouts/base.njk",
  title: "Contact",
  changeFrequency: "yearly",
  priority: 0.5,
  translationKey: "contact",
  locale: "en",
  stylesheets: [],
  javascripts: []
}
---

{# 
  Contact

  File: /src/contact.njk
  Project: Baythium Packer Client
  Organization: Baythium Ecosystem: https://baythium.com
#}

<!-- Section -->
<section class="section contact">

  <!-- Card -->
  <div class="card">
    <div class="card__body">

      <!-- Headline -->
      <div class="headline headline--xl">
        <h1 class="headline__title">{{ title }}</h1>
        <p class="headline__description"></p>
      </div>

      <h4>Bug Fixes</h4>
      <p>If you have some problems or proposals, please <a rel="noopener noreferrer" target="_blank" href="https://github.com/damien-bayes/baythium-packer_client/issues">open an issue<span class="icon icon--external-link"></span></a> including a log error and we will try to fix it as soon as possible in accordance with the project priorities.</p>

    </div>
  </div>

</section>
