---js
{
  layout: "_layouts/base.njk",
  title: "Documentation"
}
---

<!-- Documentation Page -->
<section class="section documentation">

  <div class="card">
    <div class="card__body">

      <!-- Headline -->
      <div class="headline headline--extra-large">
        <h1 class="headline__title">{{ title }}</h1>
        <p class="headline__description"></p>
      </div>

    </div>
  </div>

</section>
