---js
{
  layout: "_layouts/base.njk",
  title: "Documentation",
  changeFrequency: "weekly",
  priority: 1,
  translationKey: "documentation",
  locale: "en",
  stylesheets: [],
  javascripts: []
}
---

{# 
  Documentation

  Project: Baythium Packer
  File: /src/documentation.njk
  Initial author: Damien Bayes <damien.bayes.db@gmail.com>
#}

<!-- Documentation Page -->
<section class="section-1 documentation">

  <div class="card-1">
    <div class="card-1__body">

      <!-- Headline -->
      <div class="headline-1 headline-1--xl">
        <h1 class="headline-1__title">{{ title }}</h1>
        <p class="headline-1__description"></p>
      </div>

    </div>
  </div>

</section>
