---js
{
  layout: "_layouts/base.njk",
  title: "Documentation"
}
---

<section class="section documentation">

  <div class="headline headline--extra-large">
    <h1 class="headline__title">{{ title }}</h1>
    <p class="headline__description"></p>
  </div>

</section>
