---js
{
  layout: "_layouts/base.njk",
  title: "FAQ",
  changeFrequency: "monthly",
  priority: 0.7,
  translationKey: "faq",
  locale: "en",
  description: "Find answers to frequently asked questions. See the most common topics about this project.",
  stylesheets: [],
  javascripts: []
}
---

{#
  FAQ

  File: /src/faq.njk
  Project: Baythium Packer Client
  Organization: Baythium Ecosystem: https://baythium.com
#}

<!-- Section -->
<section class="section faq">

  <!-- Card -->
  <div class="card">
    <div class="card__body">

      <!-- Headline -->
      <div class="headline headline--xl headline--labeled">
        <h1 class="headline__title">{{ title }}</h1>
        <p class="headline__description">{{ description }}</p>
      </div>

      {# Start looping through faq items #}
      {%- for faqItem in faq[app.locale].items -%}

        {%- set id = faqItem.id %}
        {%- set question = faqItem.question %}
        {%- set answer = faqItem.answer %}

        <!-- Collapse -->
        <details data-faq-id="{{ id }}" class="collapse" {% if loop.first %} open {% endif %}>
          <summary class="collapse__header">{{ question }}</summary>
          <div class="collapse__body">
            <p>{{ answer }}</p>
          </div>
        </details>

      {%- endfor -%}
    </div>
  </div>

  <div class="card">
    <div class="card__body">
      <!-- Headline -->
      <div class="headline headline--xl headline--labeled">
        <h2 class="headline__title">Didn't find an answer?</h2>
        <p class="headline__description">We understand you may have questions that are not answered. If you cannot find the answer to your question, please feel free to contact support.</p>
      </div>
    </div>
  </div>

</section>