---js
{
  layout: "_layouts/base.njk",
  title: "Home"
}
---

<section class="section home">
  <!-- Deck 1 -->
  <div class="card">
    <div class="card__body">
      <div>
        <div class="headline headline--extra-large">
          <h1 class="headline__title">{{ app.name }} <span class="badge badge--alternative badge--rounded">{{ app.version }}</span></h1>
          <p class="headline__description">{{ app.description }}</p>
        </div>

        <!-- <h6>Built for developers in order to make technology open to the world</h6> -->

        <div class="button-collection button-collection--left-aligned">
          <a class="button button--outlined-primary button--rounded mr-2">Get Started</a>
          <a href="https://github.com/damien-bayes/bayesian-packer_client" target="_blank" class="button button--primary button--rounded">Github</a>
        </div>
      </div>
      <div>
        <img src="" alt="{{ metadata.title }}"/>        
      </div>    
    </div>
  </div>

  <!-- Deck 2 -->
  <div class="card">
    <div class="card__body">
      <div class="headline headline--normal">
        <h2 class="headline__title">Features</h2>
        <p class="headline__description">We do the work and you stay focused on the big picture</p>
      </div>
    </div>
  </div>
</section>
