---js
{
  permalink: "/robots.txt",
  eleventyExcludeFromCollections: true
}
---
{#
  Robots

  File: /src/robots.txt.njk
  Project: Baythium Packer Client
  Organization: Baythium Ecosystem: https://baythium.com

  The current file is very important when you want to disallow search engines from scraping some URLs in the application.

  @see: http://www.robotstxt.org/robotstxt.html
#}
User-agent: *
Disallow: /images/
Disallow: /exceptions/
Disallow: /fonts/
Disallow: /js/
Disallow: /styles/
Sitemap: {{ app.url }}/sitemap.xml